<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../components/header.ejs') %>
      <link rel="stylesheet" href="/css/sidebar.css">
    </head>
  <body>

    <div class="d-flex" id="wrapper">
      
      <div class="extension">
        <header class="text-center py-4 px-2" style="background-color: #2c2e33;">
          
          <div class="large-icon">
            <img class="round" src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=512" width="162" alt="<%=user.username%>">
          </div>
          
          <h4 class="pt-2"><%=user.username%><span class="text-muted">#<%=user.tag%></span></h4>
        
        </header>
      </div>
      
      <div id="page-content-wrapper" style="width: 100%;">
  
        <%- include ('../components/navbar.ejs') %>
  
        <div class="jumbotron text-center bg-transparent">
          <h1 class="display-3">Sky Dashboard</h1>
          <hr>
          <p class="lead">Escolha um servidor</p>
          
        </div>
        
      </div>
  
    </div>
  </body>
</html>