<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../components/header.ejs') %>
      <link rel="stylesheet" href="/css/sidebar.css">
    </head>
  <body>
    <div class="d-flex" id="wrapper">
      
      <div class="extension">
        <header class="text-center py-4 px-2" style="background-color: #2c2e33;">     
          <h4 class="pt-2"><%=guild.name%></h4>
        </header>
        <a href="/dashboard" class="pt-2" style="margin-left: 3px;">Voltar</a>
      </div>
      
      <div id="page-content-wrapper" style="width: 100%;">
  
        <%- include ('../components/navbar.ejs') %>
  
       <div class="container-fluid text-center">
          <h1 class="mt-4"><%=guild.name%></h1>
          <h2 class="mt-4">Prefixo:</h2>
          <img src="https://cdn<%=guild.id%>" alt="">
          <form id="save" method="POST" autocomplete="off" action="#" enctype="application/x-www-form-urlencoded">
            <input type="text" id="prefix" class="form-control" name="prefix" placeholder="<%=guildInfo.prefix%>" value="<%=guildInfo.prefix%>"/>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
        
      </div>
  
    </div>
  </body>
</html>